<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sns_project2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="daily+"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        android:requestLegacyExternalStorage="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAtSPpEDNi98uLCozStrKStCIZsFkLG7Hg" />

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="google.com" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity">
        </activity>
        <activity android:name=".LoginActivity">
        </activity>
        <activity android:name=".WritePostActivity">
        </activity>
        <activity android:name=".BasicActivity">
        </activity>
        <activity android:name=".PostActivity">
        </activity>
        <activity android:name=".HelpActivity">
        </activity>
        <activity android:name=".GalleryActivity">
        </activity>
        <activity android:name=".changestatus">
        </activity>
        <activity android:name=".googlemap">
        </activity>
    </application>

</manifest>